body{
    background-color: #2a1506;
}
.header {
    display: inline-block; 
    margin-top: 15px;
    margin-left: 0%;
    margin-right: 15px;
}

#imageCV1 {
    width: 200px;
    height: 250px;
}
#imageCV {
    margin-left: 90px;
    width: 200px;
    height: 250px;
}