    body {
    background-color: #2b2a33;
    }
    /* encabezado */
    .header {
        margin-left: 30%;
        margin-right: 5px;
        display: inline-block;
     }

    .header #image{
        vertical-align: middle;
    }

    #image {
        height: 200px;
        width: 200px;
    }
    #X,#y,#i {
        color: silver;
        background-color: black;
        width: 80px;
        height: 25px;
    }
    #outlook {
        color: silver;
        background-color: black;
        width: 365px;
        height: 30px;
    }
    
